body {
    font-family: arial, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a,
nav button {
    margin-right: 15px;
}

nav img {
    height: 1.7rem;
    object-fit: contain;
}

#grid {
    background-color: transparent;
    border: none;
}

#grid:hover {
    background-color: #f5f5f5;
}

#sign_in,
.button {
    min-width: 95px;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

#sign_in {
    background-color: #8ab4f8;
}

#sign_in:hover {
    background-color: #8ecae6;
}

main {
    text-align: center;
}

#input {
    width: 40%;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid #8f8f8f;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    #input {
        width: 90%;
    }
}

@media (max-width: 600px) {
    main img {
        width: 80%;
        height: auto;
        object-fit: contain;
    }
}